.parent_container {
  padding: 3rem 1.85rem;
}

.parent_container .heading {
  padding-bottom: 2.3rem;
  font-size: 1.25rem;
}

.connect_btn_parent_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.connect_btn_container {
  text-align: center;
  padding: 0.6rem 2.6rem;
  border-radius: 6.1875rem;
  border: 1px solid var(--secondary-color);
  position: relative;
  overflow: hidden;
}

.connect_btn_container::before {
  content: "";
  position: absolute;
  background-color: var(--popup-color);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 500ms ease-in-out;
  transform: scaleY(0);
}

.connect_btn_container:hover::before,
.connect_btn_container:focus::before {
  transform-origin: top;
  transform: scaleY(1);
}

.connect_btn_container:hover {
  color: var(--primary-color);
}

.mail_number_container {
  margin-top: 2rem;
  display: flex;
  gap: 3rem;
  align-items: center;
}

.mail_number_container p {
  font-size: 1rem;
}

.mail_number_container a {
  font-size: 0.6rem;
}
