.custom_cursor_style {
  display: none;
  z-index: 998;
  background-color: var(--primary-color);
  border-radius: 99px;
  position: fixed;
  mix-blend-mode: difference;
  pointer-events: none;
  height: 0;
  width: 0;
}

@media (min-width: 1024px) {
  .custom_cursor_style {
    display: block;
  }
}
