.hero_section_container {
  margin-bottom: 2rem;
  /* height: 100vh; */
}

.main_container {
  padding: 2.3rem 1.85rem;
  margin-top: 10rem;
  display: flex;
  gap: 10px;
  flex-direction: column;
  /* margin-bottom: 5rem; */
}

@keyframes infiniteScroll {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(calc(0% - 24px));
  }
}

.heading {
  font-size: 4rem;
  width: 500%;
  color: var(--secondary-color);
  animation: infiniteScroll 10s linear infinite;
}

/* text scroll animation */

.main_container p {
  font-size: 1.25rem;
}

@keyframes text_rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.cta_container {
  background-color: var(--popup-color);
  border-radius: 99px;
  height: 5.625rem;
  width: 5.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: text_rotation 10s linear infinite;
  cursor: pointer;
  margin-left: 70%;
}

.cta_container:hover {
  animation-play-state: paused;
}

/* cta button action */

.cta_arrow {
  position: absolute;
}

.cta_text {
  padding: 0.5rem;
}
