.hero_section_container {
  position: relative;
  overflow: hidden;
  display: flex;
  margin-bottom: 5rem;
  height: 90vh;
}

.sliding_text_container {
  position: absolute;
  top: calc(100vh - 65vh);
}

.sliding_text {
  position: relative;
  white-space: nowrap;
}

.sliding_text p {
  position: relative;
  color: var(--secondary-color);
  font-size: 7rem;
  padding-right: 2rem;
}

.sliding_text p:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
}

.main_container {
  padding: 2.3rem 1.85rem;
  display: flex;
  gap: 10px;
  flex-direction: column;
  position: absolute;
  top: calc(100vh - 50vh);
  width: 100%;
}

.main_container p {
  font-size: 1.25rem;
}

/* text scroll animation */

@keyframes text_rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.cta_container {
  background-color: var(--popup-color);
  border-radius: 99px;
  height: 5.625rem;
  width: 5.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: text_rotation 10s linear infinite;
  cursor: pointer;
  margin-left: 70%;
}

.cta_container:hover {
  animation-play-state: paused;
}

/* cta button action */

.cta_arrow {
  position: absolute;
  fill: var(--primary-color);
}

.cta_text {
  padding: 0.5rem;
}
