.my_stack_parent_container {
  position: relative;
  overflow: hidden;
  height: 50vh;
}

.heading {
  padding: 2.3rem 1.85rem;
  font-size: 1.25rem;
}

/* @keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
} */

.tech_stack_container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  position: absolute;
  top: calc(50vh - 25vh);
}

.tech_stack {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.tech_stack_container span {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.tech_stack_container:nth-child(2) {
  top: calc(50vh - 32.5vh);
}
