.main {
  overflow-x: hidden;
}

.heading {
  font-size: 1.25rem;
  margin: 2rem 0 1.85rem 1.85rem;
}

.services_container {
  padding: 3rem 0 0 0;
  border-style: solid;
  border-color: var(--secondary-color);
  border-width: 1px 0;
  position: relative;
}

.services_container:nth-child(3),
.services_container:nth-child(4) {
  border-top-width: 0;
}

.services_header {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  padding: 0 1.85rem;
}

.btn {
  height: 1.25rem;
  width: 1.25rem;
  display: inline-block;
  position: relative;
}

.plus_icon {
  height: 2px;
  width: 70%;
  background-color: var(--secondary-color);
  display: block;
  position: absolute;
  top: 50%;
  left: 20%;
  transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}

.plus_icon:last-child {
  transform: rotate(-90deg);
}

.btn_rotate .plus_icon:last-child {
  transform: rotate(0deg);
}

.services_content {
  padding: 1.5rem 1.85rem;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}

.is_active {
  grid-template-rows: 1fr;
}

.services_content span {
  overflow: hidden;
}
