.main {
  overflow-x: hidden;
}

.heading {
  font-size: 1.25rem;
  margin: 2rem 0 1.85rem 1.85rem;
}

.services_container {
  padding: 1.5rem 0;
  border-style: solid;
  border-color: var(--secondary-color);
  border-width: 1px 0;
}

.services_header {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 0 1.85rem;
  align-items: center;
}

.btn {
  height: 1.25rem;
  width: 1.25rem;
  display: inline-block;
  position: relative;
}

.plus_icon {
  height: 2px;
  width: 70%;
  background-color: var(--secondary-color);
  display: block;
  position: absolute;
  top: 50%;
  left: 20%;
  transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}

.plus_icon:last-child {
  transform: rotate(-90deg);
}

.btn_rotate .plus_icon:last-child {
  transform: rotate(0deg);
}
